<div class="row">
<%= form_for :sheet, class: "form-group" , url: sheets_path do |f| %>

<!-- <div class="field col-xs-4">
 <br><br>
  <%# f.collection_select :tag_id, Tag.all, :id, :title, {:label => "Choose tag"}, {:class => 'form-control'} %>
</div> -->


<div class="col-xs-12">
 <br>
  <%= f.text_field :title, class: "form-control", placeholder: "Add a title to your cheatsheet..." %>
</div>

 <div class="col-xs-12">
    <br>
  <%= f.text_area :body, class: "form-control", placeholder: "Type your notes here...", size: "40x15" %>
</div>
<div class="col-xs-12">
<br>
  <%= f.file_field :image_url %>
</div>

<div class="col-xs-8 text-right">
   <%= link_to 'Cancel', sheets_path, class: 'btn'  %>
   <%= f.submit class: 'btn' %>
</div>

<% end %>
</div>
