<div class="container">
  <div class="row new-sheet">

    <%= form_for @sheet, class: "form-group" do |f| %>

      <div class="field col-xs-8">


        <div class="pull-right select-column">
          <%= f.collection_select "tag_ids", Tag.all, :id, :title,
          { include_blank: false }, {multiple: true } %>
        </div>

        <div class="col-xs-8">
          <%= f.text_field :title, class: "form-control", placeholder: "What's the title of this cheatsheet?" %>
        </div>

        <div class="col-xs-8">
          <%= f.text_area :body, class: "form-control", size: "40x15", placeholder: "Type your cheat here...." %>
        </div>

        <div class="col-xs-8 text-right">
         <%= link_to 'Cancel', root_path, class: 'btn btn-default'  %>
         <%= f.submit "Create", class: "btn" %>
        </div>

      </div>

    <% end %>

  </div>
</div>
