<div class="partial sheets-show-partial">
  <div class="link_tool fa fa-trash-o"></div>
  <div class="link_tool fa fa-star-o"></div>
  <a id="<%= sheet.id %>" class="link_tool edit-btn-sheet" href="#">
    <i class="fa fa-pencil"></i>
  </a>

<div>
  <h3 class="sheet-title"><%= sheet.title %></h3>

  <div  class="sheet-tags">
    <% sheet.tags.each do |tag| %>
      <i><%= tag.title %></i>
    <% end %>
  </div>
  <div id="sheet-<%= sheet.id %>" class="sheet-body"><%= markdown(@sheet.body) %></div>
</div>

  <div id="form-<%= sheet.id %>" class="edit-sheet-form hidden">
    <textarea class='form-control edit-body' name="name" rows="6"><%= sheet.body %>
    </textarea>
    <button sheet_id="<%= sheet.id %>" class="btn pull-right save-edit">Save edit</button>
  </div>

</div>
