<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-brand">
        <ul class="nav navbar-nav navbar-left">
          <li>
            <%= link_to "CHEATSHEETS", root_path %>
          </li>
          <li>
            <%= link_to "New item", new_sheet_path %>
          </li>
        </ul>
      </div>
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "New item", new_sheet_path %>
          </li>
          <li>
            <%= link_to "Account", edit_user_registration_path %>
          </li>
          <li>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "Sign Up", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "Sign in", new_user_session_path %>
          </li>
        </ul>
      <% end %>
    </div>
  </nav>
